header {
  background: #12bbe6;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-left: 20px;
}
a {
  text-decoration: none;
}

input[type="search"] {
  width: 300px;
  padding: 12px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

input:focus {
  outline: none;
}
.search {
  margin-left: 10px;
  padding: 12px 15px;
  border: 0;
  border-radius: 5px;
  background-color: #11687e;
  color: #fff;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    margin-left: 0;
    margin-bottom: 20px;
  }
  div > form {
    margin-left: 150px;
  }
}

@media screen and (max-width: 425px) {
  header h1 {
    font-size: 1.8rem;
  }

  input[type="search"] {
    margin-left: 60px;
    width: 200px;
    padding: 12px 15px;
    font-size: 15px;
  }

  .search {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  header h1 {
    font-size: 1.5rem;
  }

  input[type="search"] {
    margin-left: 100px;
    width: 170px;
  }
}
