.todo {
  padding: 10px;
  margin-top: 2%;
  margin-left: 3%;
}

.todo-content {
  padding: 10px;
  border-left: 2px solid #12bbe6;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
  cursor: pointer;
}

.todo-content h3 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  color: #12bbe6;
  margin-bottom: 5px;
}

.buttons {
}

button {
  padding: 12px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
}

.edit {
  background-color: #12bbe6;
}

.delete {
  background-color: rgb(119, 25, 25);
}
